# Server IP Address
DEV_ENV_IP_ADDR=""
PROD_ENV_IP_ADDR=""

# Chroma Database URL
CHROMA_URL=

# Ollama URL
OLLAMA_HOST=

# Zscaler AI Guard API Key
AI_GUARD_KEY=

#xAI API Key
XAI_API_KEY=

# Paths to SSL certs on the server
CERT_KEY_PATH=
CERT_CERT_PATH=